@charset "UTF-8";

table{
	width:100%;
	border-cllapse:collapse;
}
tr{
	height:40px;
}
th{
	background-color: #3a8bcd;
	/* background-color: #f00; */
	color:#fff;
}
td{
	border:1px solid #ccc;
}