@charset "UTF-8";

        .container {
            width: 450px;
            height: 500px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color:#7ebdb4;
            padding: 50px;
            border: none;
            border-radius: 7px;
        }


        .login-box{
            width: 100%;
            height: auto;
            /* background-color: antiquewhite; */
            padding: 10px;
            text-align: center;
        }
        .login-box h1{
            color: #f6d198;
        }

        .text-box #userid,
        .text-box #passwd{
            width: 100%;
            height: 50px;    
            padding-left: 20px;
            outline: none;
            border: none;
            border-radius: 50px;
            box-shadow:2px 2px 5px #862a5c;
        }
        .text-box #userid{
            margin-top: 30px;
            
        }
        .text-box #passwd{
            margin:20px 0 10px 0;

        }
        ::placeholder{
            color: rgba(0, 0, 0, 0.3);
            font-size: 15px;
            font-weight: 400;
        }

        .login-btn input{
            width: 100%;
            height: 50px;    
            padding-left: 20px;
            outline: none;
            border: none;
            border-radius: 50px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
            margin-top: 15px;
            cursor: pointer;
            background-color: goldenrod;
            color: #f7f7f7;
        }