@charset 'utf-8';
/* login에만 필요한 css */

body{
    background-color: #172b4d;
}


#login-box{
    width: 450px;
    height: auto;
    background-color: #fff;
    box-shadow: 2px 2px 2px #555;
    padding: 60px 40px;
}

.social-icon{
    width: 140px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #aaa;
    text-align: center;
}


.form-icon{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background-color: #fff;
    /* fontawesome 배경색 지우기 */
}

.form-icon i{
    color:#8898aa;
    font-size: 20px;
}
::placeholder{
    font-size: 14px;
    color: #3889aa;
    font-family: 'Open Sans', sans-serif;
}

span > a:hover{
    text-decoration: underline;
    color: skyblue;
}

